* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  font-family: "Source Sans Pro", sans-serif; 
}

header {
  width: 100%;
  top: 0;
  position: absolute;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 99;
}

.nav {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  padding-top: 30px;
  padding: 40px;
}

.logo img {
  width: 140px;
}

a { 
  text-decoration: none; 
  color: white;
}
 
.links a {
  font-weight: 700;
  padding: 10px;
  font-size: 14px
}
  
.hero {
  background-image: url("./img/girl_background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 80px;
 padding-bottom: 60px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  color: white;
  text-align: center;
  gap: 40px;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(#13131320, #090723);
}

.hero h1 {
  font-size: 100px;
  margin-top: 30px;
}

.hero p span {
  padding: 10px 15px;
  font-weight: 600;
}

.heroPerson{
  /* background-color: red; */
  width: 200px;
  align-items: start;
}
.hero button {
  margin-top: 30px;
  background-color: #c271ff;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 18px;
  border-radius: 40px;
  cursor: pointer;
}

.ontop {
  z-index: 10;
}

.ontop:first-child {
  padding-top: 80px;
}

.ontop h2 {
  padding: 60px 0;
}

.ontop h2 span {
  color: #c271ff;
}

.heroPeople {
  display: flex;
  align-items: center;
  gap: 50px;
}

.heroPeople img {
  height: 90px;
  border-radius: 80px;
  margin-bottom: 10px;
}

.quote {
  background-color: #c271ff;
  color: white;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.quote img {
  height: 100px;
  border-radius: 50%;
}

.quote_content{
  display: flex; 
  flex-direction: column;
}
.quote blockquote {
  padding: 0px;
  max-width: 600px;
  padding-bottom: 15px;
}

.videos {
  text-align: center;
  padding: 70px 30px;
}

.videos h1 {
  font-size: 25px;
  padding-bottom: 60px;
}

.videos span {
  color: #c271ff;
}

.videos_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  gap: 20px;
}

.video_item {
  text-align: left;
}

.videos_section .thumbn {
  height: fit-content;
  width: fit-content;
  position: relative;
}

.videos_section .banner {
  height: 150px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.videos_section .thumbn .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  height: 60px;
}

.person {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.person img {
  height: 30px;
  border-radius: 50%;
}

.person h3 {
  font-size: 13px;
  color: #c271ff;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 7px;
  color: #c271ff;
}

.stars img {
  height: 16px;
  margin-right: 3px;
}

.membership {
  width: 100%;
  padding: 60px 30px;
  text-align: center;
  background-color: #071629;
  color: white;
}

.membership h1 {
  font-size: 25px;
}

.membership h1 span {
  color: #c271ff;
}

.membership_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  gap: 40px;
  max-width: 800px;
}

.membership_section img {
  height: 25px;
}

.membership_section h2 {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.membership_section p {
  font-size: 14px;
}

.membership button {
  margin-top: 30px;
  background-color: #c271ff;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 18px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 13px;
}

.faq {
  width: 100%;
  padding: 60px 30px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.faq h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.faq_content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px;
  text-align: left;
}

.faq_content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq_content h2 {
  font-size: 16px;
}

.faq_content p {
  color: #07162980;
  line-height: 23px;
  font-size: 14px;
}

footer {
  background-color: #071629;
  color: #fff;
  padding: 90px 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer .logo {
  height: 30px;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.footer div img {
  height: 24px;
}

footer p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff60;
}

