*{
    box-sizing: border-box;    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
  }